/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: 'Playfair Display', Georgia, 'Times New Roman', serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', Georgia, 'Times New Roman', serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 {
  height: 250px;
}
@media (min-width: 768px) {
  .h-md-250 {
    height: 250px;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: 0.25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 0.05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
.jumbotron {
  background-image: url('https://lh3.googleusercontent.com/proxy/hrpVm7uunDzNuk16g7G_v1ARtY_exMlJDIxzavu1v6VCvB02wRusdRXIRmaJDSkRwVwPqEgUtPz3Kptbz7mXBt5-I-yHDvC-C7MIeNY');
  /* background-repeat: no-repeat; */
  background-size: 100% 100%;
}
.card-body i {
  text-decoration: line-through;
  color: #999;
}

.card-body b {
  color: red;
}

.text-muted {
  font-size: 18px;
}

.card-text {
  list-style: none; /* Remove list bullets */
  padding: 0;
  margin: 0;
}

.card-text li:before {
  content: '๖'; /* Insert content that looks like bullets */
  padding-right: 8px;
  color: blue; /* Or a color you prefer */
}

.button {
  margin-top: 10px;
}

.paymoney {
  color: red;
}

.list-buy li span:first-child {
  color: #007bff;
}

#insertBtn {
  position: fixed;
  top: 1rem;
  right: 0;
}

.valuePadding {
  position: absolute;
  top: 0.41rem;
  right: 3.2rem;
  color: green;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}
